/*   Theme default css */

/* ======font family=========
font-family: 'google-sans';
*/

:root {

    --textColor: #2A5082;
    --textColor1: #4b545f;
    --textColor2: #3d4853;
    --bgColor: #F5F8FC;
    --f18: 18px;
    --f20: 20px;
    --f22: 22px;
    --f24: 24px;
    --f28: 28px;
    --f30: 30px;
    --f32: 32px;
    --f36: 36px;
    --f40: 40px;
    --f48: 48px;
}


body {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--textColor1);
    font-family: 'google-sans';
}

body.overflow-hidden:after {
    opacity: .5;
    z-index: 1;
}

body:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

a,
button {
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 700;
    color: var(--textColor2);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: var(--f32);
    font-weight: 500;
}

h4 {
    font-size: var(--f24);
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.pb_150 {
    padding-bottom: 150px;
}

.pb_100 {
    padding-bottom: 100px;
}

.pb_50 {
    padding-bottom: 50px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_100 {
    padding-top: 100px;
}

.pt_50 {
    padding-top: 50px;
}

.mb_150 {
    margin-bottom: 150px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mt_150 {
    margin-top: 150px;
}

.mt_100 {
    margin-top: 100px;
}

.mt_50 {
    margin-top: 50px;
}

.thm_btn {
    background: var(--textColor);
    padding: 5px 30px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid var(--textColor);
    text-align: center;
    transition: all .3s;
}

.thm_btn:hover {
    background: #A3D4FF;
    border-color: #A3D4FF;
    color: var(--textColor);
}

a.thm_btn.bordered {
    background: no-repeat;
    color: var(--textColor);
}

.container {
    max-width: 1140px;
}

.container.md {
    max-width: 760px;
}

.container.lg {
    max-width: 1320px;
}

/* default-css END 
================================== */



.header-area {
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    /* White-Color */
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}

.menu-area nav ul li {
    list-style: none;
    display: inline-block;
}

.menu-area nav ul li a {
    display: inline-block;
    position: relative;
    font-weight: 500;
    color: var(--textColor2);
}

.menu-area nav ul li a:hover {
    color: var(--textColor);
}

.menu-area {
    text-align: center;
}

.menu-area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}


.header__btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.login_btn {
    background: #A3D4FF;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: all .3s;
}

.login_btn:hover {
    background: #2a5082;
    color: #ffff;
}

.header__btn .thm_btn {
    height: 34px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: max-content;
    flex-shrink: 0;
    transition: all .3s;
}

.header__btn .thm_btn:hover {
    background: #A3D4FF;
    border-color: #A3D4FF;
    color: var(--textColor);
}

/* humbergar */
.mobile-nav-toggle {
    cursor: pointer;
    display: block;
    max-width: 29px;
    margin-left: auto;
}

.mobile-nav-toggle span,
.mobile-nav-toggle span:before,
.mobile-nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: var(--textColor);
    position: relative;
    display: block;
    content: '';
    transition: all 250ms ease-in-out;
}

.mobile-nav-toggle span:before {
    top: -10px;
}

.mobile-nav-toggle span:after {
    bottom: -7px;
}

.mobile-nav-toggle.active span {
    background-color: transparent;
}

.mobile-nav-toggle.active span:before {
    top: 0px;
    transform: rotate(45deg);
}

.mobile-nav-toggle.active span:after {
    bottom: 3px;
    transform: rotate(-45deg);
}

/* humbarger END */


/* mobile-menu START */
.mobile-menu {
    position: fixed;
    width: 320px;
    height: calc(100vh - 63px);
    background: #ffffff;
    z-index: 98;
    top: 63px;
    left: 0;
    transition: .3s;
    margin-left: -400px;
    padding: 50px 32px;
    box-shadow: 0 2px 10px #0002;
}

.mobileMenu__btn {
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    flex-direction: column;
    max-width: 255px;
}

.mobileMenu__btn>a {
    width: 100%;
    flex-shrink: 0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

.siteBar {
    margin-left: 0;
}

.mobile-menu ul#pills-tab {
    margin-top: 90px;
    margin-bottom: 35px !important;
    display: block;
}

.mobile-menu nav ul li {
    list-style: none;
    display: block;
}

.mobile-menu nav ul li a {
    font-size: 18px;
    line-height: 40px;
    transition: .3s;
}

.mobile-menu a.bars {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 32px;
}

/* Header section END */


/*============hero Area Start =============*/

.hero-area {
    position: relative;
    padding: 100px 0;
    background: var(--bgColor);
}

.hero-area.v2 {
    padding-top: 40px;
    padding-bottom: 80px;
}

.hero-img {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    pointer-events: none;
}

.hero-content {
    max-width: 536px;
    margin-bottom: 40px;
}

.v2 .hero-content {
    margin-bottom: 0;
}


.hero-content p {
    color: var(--textColor1);
}

.hero-content h3 {
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

.hero-content span {
    color: var(--textColor);
}

.searchOption__blk {
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    /* White-Color */
    background: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    position: absolute;
    width: 95%;
    max-width: 1140px;
    bottom: -80px;
}

.searchOption__blk hr {
    margin-left: -20px;
    opacity: .2;
    margin-right: -20px;
    margin-top: 0;
}


.searchOption__blk .row {
    align-items: center;
}

.searchOption__blk hr+.row {
    gap: 16px 0;
}

.src__blk {
    width: 100%;
}

.src__blk datalist {
    /* appearance: none; */
    width: 100%;
    position: absolute;
    top: 20px;
}

.src__blk datalist option {
    width: 100%;
    display: block;
    appearance: none;
}

.src__blk img {
    scale: 1.1;
}

.src__blk form {
    gap: 10px;
    display: flex;
    align-items: center;
}


.src__blk input {
    width: 100%;
    border: none;
}

.searchOption__btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.searchOption__btn a {
    color: #000;
    width: max-content;
    display: block;
}

.searchOption__btn button {
    width: 80px;
    height: 34px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.searchOption__btn button:hover {
    background: var(--textColor);
}

.thm_btn.black {
    background: #000;
}


.select__blk label {
    color: #000;
    display: block;
    margin-bottom: 5px;
}
.Country__select{}

.Country__select span.selection>span {
    border: none !important;
}

.select__blk label span {
    color: var(--textColor1);
    opacity: .8;
}

span.selection>span {
    height: 44px !important;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(218, 223, 231) !important;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 20px;
}


span.select2-dropdown {
    padding-top: 7px;
}

span.select2-dropdown:before {
    content: "Your select multiple options too";
    font-size: 13px;
    padding: 5px 0;
    padding-right: 0;
    width: max-content;
    display: block;
    padding-left: 18px;
}

.filter span.select2-dropdown:before {
    display: none;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid rgb(213 216 221) !important;
    border-radius: 4px;
    padding-left: 30px;
}

.select2-search--dropdown {
    padding: 10px 18px;
    position: relative;
}

.select2-search--dropdown:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 22px;
    background: url(../img/src.svg);
    background-repeat: no-repeat;
}

.select2-results__option {
    padding: 0px 20px;
    line-height: 34px;
}

.src__blk input::-webkit-calendar-picker-indicator {
    display: none;
    background: none;
    opacity: 0;
}

.select2-results__options::-webkit-scrollbar {
    display: none;
}

/*============hero Area End =============*/


/*============jobExplore Area Start =============*/

.jobExplore-area {
    padding: 100px 0 0px;
}

.src__Result p {
    color: var(--textColor);
    font-weight: 500;
}

.src__Result {
    margin: 20px 0 30px;
}

.Explore__title {
    padding: 50px 0;
}

.Explore__title h3 {
    font-size: var(--f28);
    font-weight: 500;
    color: var(--textColor);
}

.jobExploreList__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jobExploreList__filter {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    /* border: 1px solid rgb(218, 223, 231) !important; */
    border-radius: 4px;
    gap: 0;
    position: relative;
}

.jobExploreList__filter>i {
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}

.jobExploreList__filter .select2-dropdown {
    width: calc(100% + 20px);
}

.jobExploreList__filter span.selection>span {
    /* border: none !important; */
    padding-left: 40px;
}

.jobExplore__blk {
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    margin-top: 30px;
}

.jobExplore__Img {
    min-width: 115px;
    flex-shrink: 0;
}

.jobExploreBlk__text {
    width: 100%;
    position: relative;
}

.jobExploreBlk__text h5 {
    font-weight: 500;
}

.jobExploreBlk__text>span {
    position: absolute;
    top: 0;
    right: 0px;
    display: block;
    font-size: 12px;
}

.list-option {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.list-option a {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
    gap: 5px;
}

.list-option a:hover {
    background: #f3f3f3;
}

.jobExploreList__btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jobExploreList__btm a:hover {
    opacity: 1 !important;
}

.findremoteJob__blk {
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    padding: 25px 20px;
    max-width: 315px;
    margin-left: auto;
}

.findremoteJob__blk h5,
.RelatedSearches__blk h5 {
    font-weight: 500;
    margin: 15px 0 10px;
}

.RelatedSearches__blk {
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    padding: 25px 20px;
    margin-top: 20px;
    max-width: 315px;
    margin-left: auto;
}

.RelatedSearches__blk ul li:last-child {
    margin-bottom: 0;
}

.RelatedSearches__blk ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.RelatedSearches__blk ul li span {
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    display: block;
    padding: 2px 10px;
    font-size: 14px;
}

.RelatedSearches__blk ul li p {
    margin: 0;
    font-size: 14px;
}

.findJob__wrp {

    box-sizing: border-box;

    border: 1px solid rgba(98, 165, 255, 0.2);

    border-radius: 6px;

    /* Banner-Home */

    background: rgb(245, 248, 252);

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 60px 40px;

    gap: 100px;

    margin: 80px 0;
}

.findJob__blk a {
    font-size: var(--f18);
}

.findJob__blk h3 {
    margin-bottom: 20px;
}

/*============jobExplore Area End =============*/


/*============footer Area Start =============*/

.footer-area {
    padding-bottom: 20px;
}

.footer__top {
    background: #4B545F;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.footer__top p {
    margin: 0;
    font-size: var(--f18);
    font-weight: 500;
}

.footer__content {
    max-width: 770px;
}

.footer__content p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__content b {
    font-weight: 500;
    margin-bottom: 12px;
    display: block;
}

.footer__content ul {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.footer__content ul li a {
    font-size: 14px;
    font-weight: 500;
    transition: all .3s;
}

.footer__content ul li a:hover {
    color: var(--textColor);
    border-bottom: 1px solid var(--textColor);
}

.footer__link {
    text-align: right;
}

.footer__link a {
    font-weight: 700;
    color: var(--textColor);
    display: block;
    margin-bottom: 10px;
}

.footer__link ul {
    display: flex;
    justify-content: end;
    gap: 10px;
}

/*============footer Area End =============*/


/*============Job-information Area Start =============*/


.success__massage {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 44, 12, 0.2);
    border-radius: 4px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: rgb(181, 255, 202);
    padding: 10px;
    position: absolute;
    width: 100%;
    top: -10px;
    text-align: center;
}

.success__massage.error {
    border-color: #D80027;
    background: #FFEAEE;
}

.success__massage.error p {
    color: #D80027;
}

.success__massage .close__btn {
    position: absolute;
    right: 30px;
    color: #D80027;
}

.success__massage p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: rgb(0, 101, 28);
}

.Back__link {
    display: block;
    margin: 30px 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Back__link i {
    font-size: 16px;
}

.Job-info__title {
    text-align: center;
    margin-bottom: 36px;
}

.Job-info__title .list-option a {
    color: rgba(75, 84, 95, 0.5);
}

.Job-info__title h3 {
    color: #000;
    margin-bottom: 16px;
}

h3.title {
    color: #000;
}

.Job-info__content {
    color: #000;
}

.Job-info__content p a {
    text-decoration: underline;
}

.Job-info__content ul {
    margin-bottom: 20px;
}

.Job-info__content ul li {
    list-style: disc;
    margin-left: 20px;
}

.Job-info__right {
    max-width: 300px;
    margin-left: auto;
}

.Job-info__right>a.thm_btn {
    width: 100%;
    text-align: center;
}

.box__style {
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    padding: 25px 20px;
}

.job-info__blk {
    margin-bottom: 20px;
}

.job-info__blk ul li {
    margin-top: 14px;
}

.job-info__blk ul li b {
    display: block;
    font-weight: 500;
    color: var(--textColor2);
}

.job-info__blk h5,
.Client-info h5 {
    margin-top: 10px;
}

.job-info__blk ul li .btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.job-info__blk ul li .btns a {
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(75, 84, 95, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}

.job-info__blk ul li .btns a i {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
}

.org-dot {
    background: #FF7546;
}

.ylw-dot {
    background: #FFDA44;
}

.blue-dot {
    background: #0052B4;
}

.green-dot {
    background: #00EF43;
}

.Client-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid;
    padding: 7px;
    border-radius: 4px;
    border-color: var(--textColor1);
}

.Client-info h5+img {
    margin: 10px 0;
}

.jobExplore-area .findJob__wrp {
    margin-top: 40px;
}

.JobApply-area {
    /* position: absolute; */
    /* top: 140px; */
    background: #fff;
    width: 100%;
    z-index: 9999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Close__JobApply {
    background: #000;
    color: #fff;
    padding: 5px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
    font-weight: 700;
    position: absolute;
    top: -34px;
    right: 20px;
    z-index: 999999;
}

.overly {
    height: 100vh;
    width: 100%;
    background: #0008;
    position: absolute;
    top: 0;
    z-index: 999;
}

section.JobApply-area>hr {
    opacity: .1;
    margin-bottom: 40px;
}

.JobApply-area .row {
    gap: 20px 0;
}

.JobApply__top {
    padding-top: 20px;
}

.JobApply__top a {
    color: rgb(75 84 95 / 50%);
}

.JobApply__top a:hover {
    color: #4B545F;
}

.JobApply__topBtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.JobApply__topBtn button {
    padding: 5px 14px;
    width: max-content;
    flex-shrink: 0;
}

.JobApply__topBtn a {
    color: var(--textColor);
}

.JobApply__Btn {
    text-align: center;
    margin: 30px 0 50px;
}

.JobApply__Btn a {
    margin-top: 10px;
    display: block;
    color: var(--textColor);
}

.input__blk .file-upload {
    opacity: 0;
    height: 100%;
}

.file-upload__box {
    height: 120px;
    border: 1px dashed #0002;
    border-radius: 5px;
    position: relative;
}

.file-upload__box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


.file-upload::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    display: none;
}


.apply__modal{
    height: calc(100vh - 120px);
    top: auto;
    bottom: 0;
    padding-top: 40px;
}

.apply__modal {}

.apply__modal::-webkit-scrollbar{
    display: none;
}
/*============Job-information Area End =============*/


/*============solutions Area Start =============*/

.solutions__content {
    max-width: 650px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.solutions__content h4 {
    color: #000;
    font-weight: 500;
}

.solutions__content p {
    margin: 25px 0;
}

.solutions__blk {
    border: 1px solid #0002;
    padding: 30px;
    height: 100%;
}

.solutions__blk h6 {
    margin: 10px 0;
}

.solutions__blk p:last-child {
    margin: 0;
}

/*============solutions Area End =============*/


/*============blog Area Start =============*/
.blog-area {
    padding: 80px 0;
}

.blog__content {
    max-width: 439px;
}

.blog__content small {
    color: #0005;
    display: block;
    margin: 20px 0;
}

.blog__content h4 {
    font-weight: 500;
    color: #000;
}

.blog__content p {
    margin: 18px 0 25px;
}

.input__blk textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #DADFE7;
    border-radius: 4px;
    padding: 12px;
    padding-top: 7px;
}

.input__blk small,
.select__blk small {
    display: block;
    color: #A9A9A9;
    margin-top: 3px;
}

.input__blk input {
    width: 100%;
    height: 44px;
    border: 1px solid #DADFE7;
    border-radius: 4px;
    padding: 0 14px;
}

.input__blk input.error {
    border-color: #D80027;
}

.input__blk label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.input__blk label span {
    opacity: .7;
}

.blog__img {
    max-width: 520px;
}

.blog__img h4 {
    margin-top: 20px;
    font-weight: 500;
    color: #000;
}

.blog__wrp {
    margin-top: 50px;
}

.blog__wrp .list-option {
    margin-bottom: 40px;
}

.blog__wrp .list-option a {
    font-size: 16px;
    color: var(--textColor1);
}

.blog__wrp .list-option a:hover {
    background: var(--textColor1);
    color: #fff;
}

.blog__blk {
    border: 1px solid #0002;
    padding: 20px;
    margin-bottom: 30px;
    color: #000;
}

.blog__blk h5 {
    color: #000;
    margin-bottom: 1rem;
}

.blog__blk p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog__blk i {
    display: block;
    margin-bottom: 15px;
}

.blog__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.blog__nav a {
    font-weight: 500;
    color: var(--textColor2);
}

.about__frame video {
    width: 100%;
}

/*============blog Area End =============*/


/*============HubSpot Area Start =============*/
.HubSpot-area {
    padding-bottom: 100px;
}


.HubSpo__content p {
    line-height: 1.7;
}

.HubSpo__content p a {
    border-bottom: 1px solid;
}

.HubSpo__content ul.list-disk {
    margin: 20px 0;
}

.list-disk li {
    list-style: disc;
    margin-left: 20px;
}

.HubSpo__content b {
    display: block;
    margin-bottom: 10px;
    color: #000;
}

.HubSpo__content i {
    display: block;
    margin: 30px 0;
}

.HubSpo__content h4 {
    color: #000;
}

.HubSpot__right {
    padding-left: 30px;
}

.user__blk {
    display: flex;
    align-items: center;
    gap: 12px;
}

.des__ux {
    margin: 30px 0;
}

.des__ux b {
    font-size: 14px;
    font-weight: 500;
}

.des__ux span {
    display: block;
    color: rgb(63, 112, 162);
}

.user__blk p {
    margin: 0;
}


.tag__blk ul li a {
    font-size: 14px;
    font-weight: 500;
}

.tag__blk>span {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

/*============HubSpot Area End =============*/


/*============PostJob Area Start =============*/
.PostJob-area {
    padding: 80px 0;
    position: relative;
}

.PostJob-area .success__massage {
    top: -60px;
}

.PostJob-area .row {
    gap: 20px 0;
}

.PostJob__btns {
    text-align: center;
}

.PostJob__btns a:last-child {
    color: var(--textColor);
    padding: 10px;
    display: block;
}

.avatar-upload {
    position: relative;
    margin: 50px auto;
    width: max-content;
    text-align: center;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #338AF3;
    margin-top: 10px;
}

.avatar-upload .avatar-preview {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    border: 1px dashed #000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============PostJob Area End =============*/


/*============login Area Start =============*/


a.home__link {
    font-weight: 500;
    padding: 23px 0;
    display: block;
}

.login__content {
    max-width: 530px;
    margin: auto;
}

.login__content p {
    color: #000;
}

.login__content h6 {
    color: #000;
    margin: 10px 0;
}

.login__content .input__blk {
    margin: 10px 0 20px;
}

.sec__padding {
    padding: 100px 0;
}

.full__screen {
    min-height: 545px;
}

/*============login Area End =============*/


/*============ Area Start =============*/
.text-right {
    text-align: right;
}

.application__content {
    max-width: 880px;
    margin: auto;
    color: #000;
}

.application__content>b {
    margin: 20px 0 30px;
    display: block;
}

.application__content b {
    font-weight: 500;
}

.application__content>hr {
    margin: 0;
    opacity: .1;
}

.application__content h6 {
    color: #000;
    font-weight: 500;
}

.application__content>h6 {
    width: max-content;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.application__blk {
    border: 1px solid rgb(75 84 95 / 50%);
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.application__blk p {
    margin: 0;
    font-size: 14px;
    color: #0005;
}

.application__blk>div {
    width: 80%;
}

.ylw {
    color: #F9B256;
}

.blue {
    color: #3170B0;
}

.red {
    color: #D80027;
}

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/

.multi__select .select2-container {
    width: 100% !important;
}

.multi__select .select2-selection__choice {
    display: flex !important;
    flex-direction: row-reverse;
    padding: 0 !IMPORTANT;
    width: max-content;
    margin: 0;
    background: #DBDDDF !important;
    border: none !important;
    height: 26px;
    align-items: center;
    padding: 0 8px !important;
    gap: 3px;
}

.multi__select .select2-selection__choice>span {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
}

.multi__select .select2-selection__choice button {
    position: unset !important;
    border: none !important;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    flex-shrink: 0;
    padding: 0 !important;
}

.multi__select .select2-selection__choice button span {
    background: #000;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: unset !important;
    transform: unset !important;
    font-size: 16px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
}

.multi__select .select2-selection__rendered {
    display: flex !important;
    align-items: center;
    gap: 5px;
}